{
  "description": "MCPRemoteProxy is the Schema for the mcpremoteproxies API\nIt enables proxying remote MCP servers with authentication, authorization, audit logging, and tool filtering",
  "properties": {
    "apiVersion": {
      "description": "APIVersion defines the versioned schema of this representation of an object.\nServers should convert recognized schemas to the latest internal value, and\nmay reject unrecognized values.\nMore info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources",
      "type": "string"
    },
    "kind": {
      "description": "Kind is a string value representing the REST resource this object represents.\nServers may infer this from the endpoint the client submits requests to.\nCannot be updated.\nIn CamelCase.\nMore info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds",
      "type": "string"
    },
    "metadata": {
      "type": "object"
    },
    "spec": {
      "description": "MCPRemoteProxySpec defines the desired state of MCPRemoteProxy",
      "properties": {
        "audit": {
          "description": "Audit defines audit logging configuration for the proxy",
          "properties": {
            "enabled": {
              "default": false,
              "description": "Enabled controls whether audit logging is enabled\nWhen true, enables audit logging with default configuration",
              "type": "boolean"
            }
          },
          "type": "object",
          "additionalProperties": false
        },
        "authServerRef": {
          "description": "AuthServerRef optionally references a resource that configures an embedded\nOAuth 2.0/OIDC authorization server to authenticate MCP clients.\nCurrently the only supported kind is MCPExternalAuthConfig (type: embeddedAuthServer).",
          "properties": {
            "kind": {
              "default": "MCPExternalAuthConfig",
              "description": "Kind identifies the type of the referenced resource.",
              "enum": [
                "MCPExternalAuthConfig"
              ],
              "type": "string"
            },
            "name": {
              "description": "Name is the name of the referenced resource in the same namespace.",
              "minLength": 1,
              "type": "string"
            }
          },
          "required": [
            "kind",
            "name"
          ],
          "type": "object",
          "additionalProperties": false
        },
        "authzConfig": {
          "description": "AuthzConfig defines authorization policy configuration for the proxy",
          "properties": {
            "configMap": {
              "description": "ConfigMap references a ConfigMap containing authorization configuration\nOnly used when Type is \"configMap\"",
              "properties": {
                "key": {
                  "default": "authz.json",
                  "description": "Key is the key in the ConfigMap that contains the authorization configuration",
                  "type": "string"
                },
                "name": {
                  "description": "Name is the name of the ConfigMap",
                  "type": "string"
                }
              },
              "required": [
                "name"
              ],
              "type": "object",
              "additionalProperties": false
            },
            "inline": {
              "description": "Inline contains direct authorization configuration\nOnly used when Type is \"inline\"",
              "properties": {
                "entitiesJson": {
                  "default": "[]",
                  "description": "EntitiesJSON is a JSON string representing Cedar entities",
                  "type": "string"
                },
                "policies": {
                  "description": "Policies is a list of Cedar policy strings",
                  "items": {
                    "type": "string"
                  },
                  "minItems": 1,
                  "type": "array",
                  "x-kubernetes-list-type": "atomic"
                }
              },
              "required": [
                "policies"
              ],
              "type": "object",
              "additionalProperties": false
            },
            "type": {
              "default": "configMap",
              "description": "Type is the type of authorization configuration",
              "enum": [
                "configMap",
                "inline"
              ],
              "type": "string"
            }
          },
          "required": [
            "type"
          ],
          "type": "object",
          "x-kubernetes-validations": [
            {
              "message": "configMap must be set when type is 'configMap', and must not be set otherwise",
              "rule": "self.type == 'configMap' ? has(self.configMap) : !has(self.configMap)"
            },
            {
              "message": "inline must be set when type is 'inline', and must not be set otherwise",
              "rule": "self.type == 'inline' ? has(self.inline) : !has(self.inline)"
            }
          ],
          "additionalProperties": false
        },
        "endpointPrefix": {
          "description": "EndpointPrefix is the path prefix to prepend to SSE endpoint URLs.\nThis is used to handle path-based ingress routing scenarios where the ingress\nstrips a path prefix before forwarding to the backend.",
          "type": "string"
        },
        "externalAuthConfigRef": {
          "description": "ExternalAuthConfigRef references a MCPExternalAuthConfig resource for token exchange.\nWhen specified, the proxy will exchange validated incoming tokens for remote service tokens.\nThe referenced MCPExternalAuthConfig must exist in the same namespace as this MCPRemoteProxy.",
          "properties": {
            "name": {
              "description": "Name is the name of the MCPExternalAuthConfig resource",
              "type": "string"
            }
          },
          "required": [
            "name"
          ],
          "type": "object",
          "additionalProperties": false
        },
        "groupRef": {
          "description": "GroupRef is the name of the MCPGroup this proxy belongs to\nMust reference an existing MCPGroup in the same namespace",
          "type": "string"
        },
        "headerForward": {
          "description": "HeaderForward configures headers to inject into requests to the remote MCP server.\nUse this to add custom headers like X-Tenant-ID or correlation IDs.",
          "properties": {
            "addHeadersFromSecret": {
              "description": "AddHeadersFromSecret references Kubernetes Secrets for sensitive header values.",
              "items": {
                "description": "HeaderFromSecret defines a header whose value comes from a Kubernetes Secret.",
                "properties": {
                  "headerName": {
                    "description": "HeaderName is the HTTP header name (e.g., \"X-API-Key\")",
                    "maxLength": 255,
                    "minLength": 1,
                    "type": "string"
                  },
                  "valueSecretRef": {
                    "description": "ValueSecretRef references the Secret and key containing the header value",
                    "properties": {
                      "key": {
                        "description": "Key is the key within the secret",
                        "type": "string"
                      },
                      "name": {
                        "description": "Name is the name of the secret",
                        "type": "string"
                      }
                    },
                    "required": [
                      "key",
                      "name"
                    ],
                    "type": "object",
                    "additionalProperties": false
                  }
                },
                "required": [
                  "headerName",
                  "valueSecretRef"
                ],
                "type": "object",
                "additionalProperties": false
              },
              "type": "array",
              "x-kubernetes-list-map-keys": [
                "headerName"
              ],
              "x-kubernetes-list-type": "map"
            },
            "addPlaintextHeaders": {
              "additionalProperties": {
                "type": "string"
              },
              "description": "AddPlaintextHeaders is a map of header names to literal values to inject into requests.\nWARNING: Values are stored in plaintext and visible via kubectl commands.\nUse addHeadersFromSecret for sensitive data like API keys or tokens.",
              "type": "object"
            }
          },
          "type": "object",
          "additionalProperties": false
        },
        "oidcConfig": {
          "description": "OIDCConfig defines OIDC authentication configuration for the proxy.\nDeprecated: Use OIDCConfigRef to reference a shared MCPOIDCConfig resource instead.\nThis field will be removed in v1beta1. OIDCConfig and OIDCConfigRef are mutually exclusive.",
          "properties": {
            "configMap": {
              "description": "ConfigMap references a ConfigMap containing OIDC configuration\nOnly used when Type is \"configmap\"",
              "properties": {
                "caBundleRef": {
                  "description": "CABundleRef references a ConfigMap containing the CA certificate bundle.\nWhen specified, ToolHive auto-mounts the ConfigMap and auto-computes ThvCABundlePath.\nIf the ConfigMap data contains an explicit thvCABundlePath key, it takes precedence.",
                  "properties": {
                    "configMapRef": {
                      "description": "ConfigMapRef references a ConfigMap containing the CA certificate bundle.\nIf Key is not specified, it defaults to \"ca.crt\".",
                      "properties": {
                        "key": {
                          "description": "The key to select.",
                          "type": "string"
                        },
                        "name": {
                          "default": "",
                          "description": "Name of the referent.\nThis field is effectively required, but due to backwards compatibility is\nallowed to be empty. Instances of this type with an empty value here are\nalmost certainly wrong.\nMore info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names",
                          "type": "string"
                        },
                        "optional": {
                          "description": "Specify whether the ConfigMap or its key must be defined",
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "key"
                      ],
                      "type": "object",
                      "x-kubernetes-map-type": "atomic",
                      "additionalProperties": false
                    }
                  },
                  "type": "object",
                  "additionalProperties": false
                },
                "key": {
                  "default": "oidc.json",
                  "description": "Key is the key in the ConfigMap that contains the OIDC configuration",
                  "type": "string"
                },
                "name": {
                  "description": "Name is the name of the ConfigMap",
                  "type": "string"
                }
              },
              "required": [
                "name"
              ],
              "type": "object",
              "additionalProperties": false
            },
            "inline": {
              "description": "Inline contains direct OIDC configuration\nOnly used when Type is \"inline\"",
              "properties": {
                "audience": {
                  "description": "Audience is the expected audience for the token",
                  "type": "string"
                },
                "caBundleRef": {
                  "description": "CABundleRef references a ConfigMap containing the CA certificate bundle.\nWhen specified, ToolHive auto-mounts the ConfigMap and auto-computes the CA bundle path.",
                  "properties": {
                    "configMapRef": {
                      "description": "ConfigMapRef references a ConfigMap containing the CA certificate bundle.\nIf Key is not specified, it defaults to \"ca.crt\".",
                      "properties": {
                        "key": {
                          "description": "The key to select.",
                          "type": "string"
                        },
                        "name": {
                          "default": "",
                          "description": "Name of the referent.\nThis field is effectively required, but due to backwards compatibility is\nallowed to be empty. Instances of this type with an empty value here are\nalmost certainly wrong.\nMore info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names",
                          "type": "string"
                        },
                        "optional": {
                          "description": "Specify whether the ConfigMap or its key must be defined",
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "key"
                      ],
                      "type": "object",
                      "x-kubernetes-map-type": "atomic",
                      "additionalProperties": false
                    }
                  },
                  "type": "object",
                  "additionalProperties": false
                },
                "clientId": {
                  "description": "ClientID is the OIDC client ID",
                  "type": "string"
                },
                "clientSecretRef": {
                  "description": "ClientSecretRef is a reference to a Kubernetes Secret containing the client secret",
                  "properties": {
                    "key": {
                      "description": "Key is the key within the secret",
                      "type": "string"
                    },
                    "name": {
                      "description": "Name is the name of the secret",
                      "type": "string"
                    }
                  },
                  "required": [
                    "key",
                    "name"
                  ],
                  "type": "object",
                  "additionalProperties": false
                },
                "insecureAllowHTTP": {
                  "default": false,
                  "description": "InsecureAllowHTTP allows HTTP (non-HTTPS) OIDC issuers for development/testing\nWARNING: This is insecure and should NEVER be used in production\nOnly enable for local development, testing, or trusted internal networks",
                  "type": "boolean"
                },
                "introspectionUrl": {
                  "description": "IntrospectionURL is the URL for token introspection endpoint",
                  "type": "string"
                },
                "issuer": {
                  "description": "Issuer is the OIDC issuer URL",
                  "type": "string"
                },
                "jwksAllowPrivateIP": {
                  "default": false,
                  "description": "JWKSAllowPrivateIP allows JWKS/OIDC endpoints on private IP addresses\nUse with caution - only enable for trusted internal IDPs",
                  "type": "boolean"
                },
                "jwksAuthTokenPath": {
                  "description": "JWKSAuthTokenPath is the path to file containing bearer token for JWKS/OIDC requests\nThe file must be mounted into the pod (e.g., via Secret volume)",
                  "type": "string"
                },
                "jwksUrl": {
                  "description": "JWKSURL is the URL to fetch the JWKS from",
                  "type": "string"
                },
                "protectedResourceAllowPrivateIP": {
                  "default": false,
                  "description": "ProtectedResourceAllowPrivateIP allows protected resource endpoint on private IP addresses\nUse with caution - only enable for trusted internal IDPs or testing",
                  "type": "boolean"
                },
                "scopes": {
                  "description": "Scopes is the list of OAuth scopes to advertise in the well-known endpoint (RFC 9728)\nIf empty, defaults to [\"openid\"]",
                  "items": {
                    "type": "string"
                  },
                  "type": "array",
                  "x-kubernetes-list-type": "atomic"
                }
              },
              "required": [
                "issuer"
              ],
              "type": "object",
              "additionalProperties": false
            },
            "kubernetes": {
              "description": "Kubernetes configures OIDC for Kubernetes service account token validation\nOnly used when Type is \"kubernetes\"",
              "properties": {
                "audience": {
                  "default": "toolhive",
                  "description": "Audience is the expected audience for the token",
                  "type": "string"
                },
                "introspectionUrl": {
                  "description": "IntrospectionURL is the URL for token introspection endpoint\nIf empty, OIDC discovery will be used to automatically determine the introspection URL",
                  "type": "string"
                },
                "issuer": {
                  "default": "https://kubernetes.default.svc",
                  "description": "Issuer is the OIDC issuer URL",
                  "type": "string"
                },
                "jwksUrl": {
                  "description": "JWKSURL is the URL to fetch the JWKS from\nIf empty, OIDC discovery will be used to automatically determine the JWKS URL",
                  "type": "string"
                },
                "namespace": {
                  "description": "Namespace is the namespace of the service account\nIf empty, uses the MCPServer's namespace",
                  "type": "string"
                },
                "serviceAccount": {
                  "description": "ServiceAccount is the name of the service account to validate tokens for\nIf empty, uses the pod's service account",
                  "type": "string"
                },
                "useClusterAuth": {
                  "description": "UseClusterAuth enables using the Kubernetes cluster's CA bundle and service account token\nWhen true, uses /var/run/secrets/kubernetes.io/serviceaccount/ca.crt for TLS verification\nand /var/run/secrets/kubernetes.io/serviceaccount/token for bearer token authentication\nDefaults to true if not specified",
                  "type": "boolean"
                }
              },
              "type": "object",
              "additionalProperties": false
            },
            "resourceUrl": {
              "description": "ResourceURL is the explicit resource URL for OAuth discovery endpoint (RFC 9728)\nIf not specified, defaults to the in-cluster Kubernetes service URL",
              "type": "string"
            },
            "type": {
              "default": "kubernetes",
              "description": "Type is the type of OIDC configuration",
              "enum": [
                "kubernetes",
                "configMap",
                "inline"
              ],
              "type": "string"
            }
          },
          "required": [
            "type"
          ],
          "type": "object",
          "x-kubernetes-validations": [
            {
              "message": "configMap must be set when type is 'configMap', and must not be set otherwise",
              "rule": "self.type == 'configMap' ? has(self.configMap) : !has(self.configMap)"
            },
            {
              "message": "inline must be set when type is 'inline', and must not be set otherwise",
              "rule": "self.type == 'inline' ? has(self.inline) : !has(self.inline)"
            },
            {
              "message": "kubernetes must not be set when type is not 'kubernetes'",
              "rule": "self.type != 'kubernetes' ? !has(self.kubernetes) : true"
            }
          ],
          "additionalProperties": false
        },
        "oidcConfigRef": {
          "description": "OIDCConfigRef references a shared MCPOIDCConfig resource for OIDC authentication.\nThe referenced MCPOIDCConfig must exist in the same namespace as this MCPRemoteProxy.\nPer-server overrides (audience, scopes) are specified here; shared provider config\nlives in the MCPOIDCConfig resource.",
          "properties": {
            "audience": {
              "description": "Audience is the expected audience for token validation.\nThis MUST be unique per server to prevent token replay attacks.",
              "minLength": 1,
              "type": "string"
            },
            "name": {
              "description": "Name is the name of the MCPOIDCConfig resource",
              "minLength": 1,
              "type": "string"
            },
            "scopes": {
              "description": "Scopes is the list of OAuth scopes to advertise in the well-known endpoint (RFC 9728).\nIf empty, defaults to [\"openid\"].",
              "items": {
                "type": "string"
              },
              "type": "array",
              "x-kubernetes-list-type": "atomic"
            }
          },
          "required": [
            "audience",
            "name"
          ],
          "type": "object",
          "additionalProperties": false
        },
        "proxyPort": {
          "default": 8080,
          "description": "ProxyPort is the port to expose the MCP proxy on",
          "format": "int32",
          "maximum": 65535,
          "minimum": 1,
          "type": "integer"
        },
        "remoteUrl": {
          "description": "RemoteURL is the URL of the remote MCP server to proxy",
          "pattern": "^https?://",
          "type": "string"
        },
        "resourceOverrides": {
          "description": "ResourceOverrides allows overriding annotations and labels for resources created by the operator",
          "properties": {
            "proxyDeployment": {
              "description": "ProxyDeployment defines overrides for the Proxy Deployment resource (toolhive proxy)",
              "properties": {
                "annotations": {
                  "additionalProperties": {
                    "type": "string"
                  },
                  "description": "Annotations to add or override on the resource",
                  "type": "object"
                },
                "env": {
                  "description": "Env are environment variables to set in the proxy container (thv run process)\nThese affect the toolhive proxy itself, not the MCP server it manages\nUse TOOLHIVE_DEBUG=true to enable debug logging in the proxy",
                  "items": {
                    "description": "EnvVar represents an environment variable in a container",
                    "properties": {
                      "name": {
                        "description": "Name of the environment variable",
                        "type": "string"
                      },
                      "value": {
                        "description": "Value of the environment variable",
                        "type": "string"
                      }
                    },
                    "required": [
                      "name",
                      "value"
                    ],
                    "type": "object",
                    "additionalProperties": false
                  },
                  "type": "array",
                  "x-kubernetes-list-map-keys": [
                    "name"
                  ],
                  "x-kubernetes-list-type": "map"
                },
                "imagePullSecrets": {
                  "description": "ImagePullSecrets allows specifying image pull secrets for the proxy runner\nThese are applied to both the Deployment and the ServiceAccount",
                  "items": {
                    "description": "LocalObjectReference contains enough information to let you locate the\nreferenced object inside the same namespace.",
                    "properties": {
                      "name": {
                        "default": "",
                        "description": "Name of the referent.\nThis field is effectively required, but due to backwards compatibility is\nallowed to be empty. Instances of this type with an empty value here are\nalmost certainly wrong.\nMore info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names",
                        "type": "string"
                      }
                    },
                    "type": "object",
                    "x-kubernetes-map-type": "atomic",
                    "additionalProperties": false
                  },
                  "type": "array",
                  "x-kubernetes-list-type": "atomic"
                },
                "labels": {
                  "additionalProperties": {
                    "type": "string"
                  },
                  "description": "Labels to add or override on the resource",
                  "type": "object"
                },
                "podTemplateMetadataOverrides": {
                  "description": "ResourceMetadataOverrides defines metadata overrides for a resource",
                  "properties": {
                    "annotations": {
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Annotations to add or override on the resource",
                      "type": "object"
                    },
                    "labels": {
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Labels to add or override on the resource",
                      "type": "object"
                    }
                  },
                  "type": "object",
                  "additionalProperties": false
                }
              },
              "type": "object",
              "additionalProperties": false
            },
            "proxyService": {
              "description": "ProxyService defines overrides for the Proxy Service resource (points to the proxy deployment)",
              "properties": {
                "annotations": {
                  "additionalProperties": {
                    "type": "string"
                  },
                  "description": "Annotations to add or override on the resource",
                  "type": "object"
                },
                "labels": {
                  "additionalProperties": {
                    "type": "string"
                  },
                  "description": "Labels to add or override on the resource",
                  "type": "object"
                }
              },
              "type": "object",
              "additionalProperties": false
            }
          },
          "type": "object",
          "additionalProperties": false
        },
        "resources": {
          "description": "Resources defines the resource requirements for the proxy container",
          "properties": {
            "limits": {
              "description": "Limits describes the maximum amount of compute resources allowed",
              "properties": {
                "cpu": {
                  "description": "CPU is the CPU limit in cores (e.g., \"500m\" for 0.5 cores)",
                  "type": "string"
                },
                "memory": {
                  "description": "Memory is the memory limit in bytes (e.g., \"64Mi\" for 64 megabytes)",
                  "type": "string"
                }
              },
              "type": "object",
              "additionalProperties": false
            },
            "requests": {
              "description": "Requests describes the minimum amount of compute resources required",
              "properties": {
                "cpu": {
                  "description": "CPU is the CPU limit in cores (e.g., \"500m\" for 0.5 cores)",
                  "type": "string"
                },
                "memory": {
                  "description": "Memory is the memory limit in bytes (e.g., \"64Mi\" for 64 megabytes)",
                  "type": "string"
                }
              },
              "type": "object",
              "additionalProperties": false
            }
          },
          "type": "object",
          "additionalProperties": false
        },
        "serviceAccount": {
          "description": "ServiceAccount is the name of an already existing service account to use by the proxy.\nIf not specified, a ServiceAccount will be created automatically and used by the proxy.",
          "type": "string"
        },
        "sessionAffinity": {
          "default": "ClientIP",
          "description": "SessionAffinity controls whether the Service routes repeated client connections to the same pod.\nMCP protocols (SSE, streamable-http) are stateful, so ClientIP is the default.\nSet to \"None\" for stateless servers or when using an external load balancer with its own affinity.",
          "enum": [
            "ClientIP",
            "None"
          ],
          "type": "string"
        },
        "telemetry": {
          "description": "Telemetry defines inline observability configuration for the proxy.\nDeprecated: Use TelemetryConfigRef to reference a shared MCPTelemetryConfig resource instead.\nThis field will be removed in a future release. Setting both telemetry and telemetryConfigRef\nis rejected by CEL validation.",
          "properties": {
            "openTelemetry": {
              "description": "OpenTelemetry defines OpenTelemetry configuration",
              "properties": {
                "enabled": {
                  "default": false,
                  "description": "Enabled controls whether OpenTelemetry is enabled",
                  "type": "boolean"
                },
                "endpoint": {
                  "description": "Endpoint is the OTLP endpoint URL for tracing and metrics",
                  "type": "string"
                },
                "headers": {
                  "description": "Headers contains authentication headers for the OTLP endpoint\nSpecified as key=value pairs",
                  "items": {
                    "type": "string"
                  },
                  "type": "array",
                  "x-kubernetes-list-type": "atomic"
                },
                "insecure": {
                  "default": false,
                  "description": "Insecure indicates whether to use HTTP instead of HTTPS for the OTLP endpoint",
                  "type": "boolean"
                },
                "metrics": {
                  "description": "Metrics defines OpenTelemetry metrics-specific configuration",
                  "properties": {
                    "enabled": {
                      "default": false,
                      "description": "Enabled controls whether OTLP metrics are sent",
                      "type": "boolean"
                    }
                  },
                  "type": "object",
                  "additionalProperties": false
                },
                "serviceName": {
                  "description": "ServiceName is the service name for telemetry\nIf not specified, defaults to the MCPServer name",
                  "type": "string"
                },
                "tracing": {
                  "description": "Tracing defines OpenTelemetry tracing configuration",
                  "properties": {
                    "enabled": {
                      "default": false,
                      "description": "Enabled controls whether OTLP tracing is sent",
                      "type": "boolean"
                    },
                    "samplingRate": {
                      "default": "0.05",
                      "description": "SamplingRate is the trace sampling rate (0.0-1.0)",
                      "pattern": "^(0(\\.\\d+)?|1(\\.0+)?)$",
                      "type": "string"
                    }
                  },
                  "type": "object",
                  "additionalProperties": false
                },
                "useLegacyAttributes": {
                  "default": true,
                  "description": "UseLegacyAttributes controls whether legacy attribute names are emitted alongside\nthe new MCP OTEL semantic convention names. Defaults to true for backward compatibility.\nThis will change to false in a future release and eventually be removed.",
                  "type": "boolean"
                }
              },
              "type": "object",
              "additionalProperties": false
            },
            "prometheus": {
              "description": "Prometheus defines Prometheus-specific configuration",
              "properties": {
                "enabled": {
                  "default": false,
                  "description": "Enabled controls whether Prometheus metrics endpoint is exposed",
                  "type": "boolean"
                }
              },
              "type": "object",
              "additionalProperties": false
            }
          },
          "type": "object",
          "additionalProperties": false
        },
        "telemetryConfigRef": {
          "description": "TelemetryConfigRef references an MCPTelemetryConfig resource for shared telemetry configuration.\nThe referenced MCPTelemetryConfig must exist in the same namespace as this MCPRemoteProxy.\nCross-namespace references are not supported for security and isolation reasons.\nMutually exclusive with the deprecated inline Telemetry field.",
          "properties": {
            "name": {
              "description": "Name is the name of the MCPTelemetryConfig resource",
              "minLength": 1,
              "type": "string"
            },
            "serviceName": {
              "description": "ServiceName overrides the telemetry service name for this specific server.\nThis MUST be unique per server for proper observability (e.g., distinguishing\ntraces and metrics from different servers sharing the same collector).\nIf empty, defaults to the server name with \"thv-\" prefix at runtime.",
              "type": "string"
            }
          },
          "required": [
            "name"
          ],
          "type": "object",
          "additionalProperties": false
        },
        "toolConfigRef": {
          "description": "ToolConfigRef references a MCPToolConfig resource for tool filtering and renaming.\nThe referenced MCPToolConfig must exist in the same namespace as this MCPRemoteProxy.\nCross-namespace references are not supported for security and isolation reasons.\nIf specified, this allows filtering and overriding tools from the remote MCP server.",
          "properties": {
            "name": {
              "description": "Name is the name of the MCPToolConfig resource in the same namespace",
              "type": "string"
            }
          },
          "required": [
            "name"
          ],
          "type": "object",
          "additionalProperties": false
        },
        "transport": {
          "default": "streamable-http",
          "description": "Transport is the transport method for the remote proxy (sse or streamable-http)",
          "enum": [
            "sse",
            "streamable-http"
          ],
          "type": "string"
        },
        "trustProxyHeaders": {
          "default": false,
          "description": "TrustProxyHeaders indicates whether to trust X-Forwarded-* headers from reverse proxies\nWhen enabled, the proxy will use X-Forwarded-Proto, X-Forwarded-Host, X-Forwarded-Port,\nand X-Forwarded-Prefix headers to construct endpoint URLs",
          "type": "boolean"
        }
      },
      "required": [
        "remoteUrl"
      ],
      "type": "object",
      "x-kubernetes-validations": [
        {
          "message": "oidcConfig and oidcConfigRef are mutually exclusive; use oidcConfigRef to reference a shared MCPOIDCConfig",
          "rule": "!(has(self.oidcConfig) && has(self.oidcConfigRef))"
        },
        {
          "message": "telemetry and telemetryConfigRef are mutually exclusive; migrate to telemetryConfigRef",
          "rule": "!(has(self.telemetry) && has(self.telemetryConfigRef))"
        }
      ],
      "additionalProperties": false
    },
    "status": {
      "description": "MCPRemoteProxyStatus defines the observed state of MCPRemoteProxy",
      "properties": {
        "authServerConfigHash": {
          "description": "AuthServerConfigHash is the hash of the referenced authServerRef spec,\nused to detect configuration changes and trigger reconciliation.",
          "type": "string"
        },
        "conditions": {
          "description": "Conditions represent the latest available observations of the MCPRemoteProxy's state",
          "items": {
            "description": "Condition contains details for one aspect of the current state of this API Resource.",
            "properties": {
              "lastTransitionTime": {
                "description": "lastTransitionTime is the last time the condition transitioned from one status to another.\nThis should be when the underlying condition changed.  If that is not known, then using the time when the API field changed is acceptable.",
                "format": "date-time",
                "type": "string"
              },
              "message": {
                "description": "message is a human readable message indicating details about the transition.\nThis may be an empty string.",
                "maxLength": 32768,
                "type": "string"
              },
              "observedGeneration": {
                "description": "observedGeneration represents the .metadata.generation that the condition was set based upon.\nFor instance, if .metadata.generation is currently 12, but the .status.conditions[x].observedGeneration is 9, the condition is out of date\nwith respect to the current state of the instance.",
                "format": "int64",
                "minimum": 0,
                "type": "integer"
              },
              "reason": {
                "description": "reason contains a programmatic identifier indicating the reason for the condition's last transition.\nProducers of specific condition types may define expected values and meanings for this field,\nand whether the values are considered a guaranteed API.\nThe value should be a CamelCase string.\nThis field may not be empty.",
                "maxLength": 1024,
                "minLength": 1,
                "pattern": "^[A-Za-z]([A-Za-z0-9_,:]*[A-Za-z0-9_])?$",
                "type": "string"
              },
              "status": {
                "description": "status of the condition, one of True, False, Unknown.",
                "enum": [
                  "True",
                  "False",
                  "Unknown"
                ],
                "type": "string"
              },
              "type": {
                "description": "type of condition in CamelCase or in foo.example.com/CamelCase.",
                "maxLength": 316,
                "pattern": "^([a-z0-9]([-a-z0-9]*[a-z0-9])?(\\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*/)?(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])$",
                "type": "string"
              }
            },
            "required": [
              "lastTransitionTime",
              "message",
              "reason",
              "status",
              "type"
            ],
            "type": "object",
            "additionalProperties": false
          },
          "type": "array",
          "x-kubernetes-list-map-keys": [
            "type"
          ],
          "x-kubernetes-list-type": "map"
        },
        "externalAuthConfigHash": {
          "description": "ExternalAuthConfigHash is the hash of the referenced MCPExternalAuthConfig spec",
          "type": "string"
        },
        "externalUrl": {
          "description": "ExternalURL is the external URL where the proxy can be accessed (if exposed externally)",
          "type": "string"
        },
        "message": {
          "description": "Message provides additional information about the current phase",
          "type": "string"
        },
        "observedGeneration": {
          "description": "ObservedGeneration reflects the generation of the most recently observed MCPRemoteProxy",
          "format": "int64",
          "type": "integer"
        },
        "oidcConfigHash": {
          "description": "OIDCConfigHash is the hash of the referenced MCPOIDCConfig spec for change detection",
          "type": "string"
        },
        "phase": {
          "description": "Phase is the current phase of the MCPRemoteProxy",
          "enum": [
            "Pending",
            "Ready",
            "Failed",
            "Terminating"
          ],
          "type": "string"
        },
        "telemetryConfigHash": {
          "description": "TelemetryConfigHash stores the hash of the referenced MCPTelemetryConfig for change detection",
          "type": "string"
        },
        "toolConfigHash": {
          "description": "ToolConfigHash stores the hash of the referenced ToolConfig for change detection",
          "type": "string"
        },
        "url": {
          "description": "URL is the internal cluster URL where the proxy can be accessed",
          "type": "string"
        }
      },
      "type": "object",
      "additionalProperties": false
    }
  },
  "type": "object"
}
